ClienteCalculadoraWS/calculadora.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servidor.ws.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servidor.ws.com">
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servidor.ws.com">
<xs:element name="suma">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="x" type="xs:int"/>
<xs:element minOccurs="0" name="y" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="sumaResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="sumaRequest">
<wsdl:part name="parameters" element="ns:suma"/>
</wsdl:message>
<wsdl:message name="sumaResponse">
<wsdl:part name="parameters" element="ns:sumaResponse"/>
</wsdl:message>
<wsdl:portType name="CalculadoraPortType">
<wsdl:operation name="suma">
<wsdl:input message="ns:sumaRequest" wsaw:Action="urn:suma"/>
<wsdl:output message="ns:sumaResponse" wsaw:Action="urn:sumaResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CalculadoraSoap11Binding" type="ns:CalculadoraPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="suma">
<soap:operation soapAction="urn:suma" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CalculadoraSoap12Binding" type="ns:CalculadoraPortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="suma">
<soap12:operation soapAction="urn:suma" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CalculadoraHttpBinding" type="ns:CalculadoraPortType">
<http:binding verb="POST"/>
<wsdl:operation name="suma">
<http:operation location="suma"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Calculadora">
<wsdl:port name="CalculadoraHttpSoap11Endpoint" binding="ns:CalculadoraSoap11Binding">
<soap:address location="http://localhost:8080/axis2/services/Calculadora.CalculadoraHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="CalculadoraHttpSoap12Endpoint" binding="ns:CalculadoraSoap12Binding">
<soap12:address location="http://localhost:8080/axis2/services/Calculadora.CalculadoraHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="CalculadoraHttpEndpoint" binding="ns:CalculadoraHttpBinding">
<http:address location="http://localhost:8080/axis2/services/Calculadora.CalculadoraHttpEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>